name: Actionlint

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref_name }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

permissions: {}

jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      # TODO: Find a better way to install actionlint, shellcheck and/or homebrew.
      - run: /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
      - run: brew install actionlint shellcheck

      - uses: actions/checkout@v6
        with:
          sparse-checkout: .github

      - run: actionlint
